<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo-list</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<form th:object="${task}" method="POST" action="/add-task">
    <table class="add_task">
        <tr>
            <th colspan="2">Add new tasks</th>
        </tr>
        <tr>
            <td><label>Name:</label></td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td><label>Description:</label></td>
            <td><label>
                <input type="text" th:field="*{description}"/>
            </label></td>
        </tr>
        <tr>
            <td><label>Priority:</label></td>
            <td><label>
                <input type="number" th:field="*{priority}"/>
            </label></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="add">
            </th>
        </tr>
    </table>
</form>

<table class="todo_list">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Priority</th>
        <th>isDone</th>
        <th>Delete</th>
        <th></th>
    </tr>
    <th:block th:each="task : ${tasks}">
        <tr>
            <td th:text="${task.getName()}"/>
            <td th:text="${task.getDescription()}"/>
            <td th:text="${task.getPriority()}"/>
            <td>
                <form method="POST" action="/set-is-done">
                    <div th:if="${task.isDone()}">
                        <input type="hidden" th:name="taskId" th:value="${task.getId()}"/>
                        <input type="hidden" th:name="isDone" th:value="${false}"/>
                        <input type="submit" value="Set as not done">
                    </div>
                    <div th:unless="${task.isDone()}">
                        <input type="hidden" th:name="taskId" th:value="${task.getId()}"/>
                        <input type="hidden" th:name="isDone" th:value="${true}"/>
                        <input type="submit" value="Set as done">
                    </div>
                </form>
            </td>
            <td>
                <form method="POST" action="/delete-task">
                    <input type="hidden" th:name="taskId" th:value="${task.getId()}"/>
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>
